@media (max-width: 1552px) {
  .car-a {
    position: absolute;
    top: 190px;
    right: -200px;
    overflow: hidden;
  }

  .car-b {
      position: absolute;
      top: 190px;
      left: -200px;
      overflow: hidden;
  }
}

@media (max-width: 1024px) {

  .menu-hamburger {
    display: block;
    z-index: 10000;
  }
  
  .circle-a,.circle-b,.circle-c {
    scale: 0.8;
  }

  .nav-link {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 100vh;
    padding-top: 35%;
    background-color: rgb(255, 255, 255);
    right: 0;
    margin-right: -100%;
    transition: all 0.5s;
    flex-shrink: 0;
    z-index: 10000;
  }

  .car-a {
    position: absolute;
    top: 190px;
    right: -400px;
    overflow: hidden;
  }

  .car-b {
      position: absolute;
      top: 190px;
      left: -350px;
      overflow: hidden;
  }

  .nav-link-c{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 100vh;
    padding-top: 35%;
    background-color: rgb(0, 0, 0);
    right: 0;
    margin-right: -100%;
    transition: all 0.5s;
    flex-shrink: 0;
    z-index: 10000;
  }

  .nav-link li {
    margin: 15px;
  }

  .nav-link-c li {
    margin: 15px;
  }

  .mobile-menu {
    margin-right: 0%;
    flex-shrink: 0;
  }

  .service-card-b {
    height: 260px;
    max-width: 180px;
  }

  .service-card-c {
    height: 260px;
    max-width: 180px;
  }

  .title {
    position: absolute;
    top: 17pc;
    left: 10pc;
    font-size: 34px;
  }

  .contact {
    display: none;
  }

  header {
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position-y: 65%;
    background-position-x: 55%;
  }

  .s-card-a {
    position: relative;
    width: 320px;
    height: 320px;
    min-width: 300px;
  }

  .s-card-a::before {
    display: none;
  }

  .s-card-b {
    position: relative;
    width: 320px;
    height: 320px;
    min-width: 300px;
  }

  .s-card-b::before {
    display: none;
  }

  .s-arrow {
    position: absolute;
    top: 240px;
    right: 0;
    left: -30px;
  }

  .teamate {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 300px);
    grid-column-gap: 7%;
  }

  .info {
    display: flex;
    flex-direction: column;
  }

  .info-content {
    margin-top: 40px;
  }

  .btn {
    background: #0048ff;
  }

  .btn:hover .phone {
    transform: rotateY(0deg);
  }

  .nav-link a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-inline: 20px;
    font-size: 16px;
    font-weight: 510;
  }

  .nav-link-c a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-inline: 20px;
    font-size: 16px;
    font-weight: 510;
  }

  .lang p {
    margin-left: 15px;
    font-size: 16px;
    font-weight: 440;
    z-index: -1000;
  }
  
}

@media (max-width: 620px) {

  .car-a {
    position: absolute;
    top: 280px;
    right: -330px;
    overflow: hidden;
    scale: 0.8;
  }

  .car-b {
    display: none;
  }
  
  nav {
    padding-inline: 30px;
    height: 65px;
  }

  .circle-a,.circle-b,.lang-b{
    scale: 0.6;
  }

  .bg-p-a,.bg-p-b,.bg-p-c{
    scale: 0.5;
  }


  .lang-b {
    left: 300px;
  }

  .circle-c {
    display: none;
  }

  .menu-hamburger {
    display: block;
  }

  .nav-link {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100vh;
    width: 100%;
    padding-top: 35%;
    background-color: rgb(255, 255, 255);
    right: 0;
    margin-right: -100%;
    transition: all 0.5s;
    flex-shrink: 0;
  }

  .nav-link-c {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100vh;
    width: 100%;
    padding-top: 35%;
    background-color: rgb(0, 0, 0);
    right: 0;
    margin-right: -100%;
    transition: all 0.5s;
    flex-shrink: 0;
  }

  .nav-link li {
    margin: 15px;
  }

  .mobile-menu {
    margin-right: 0%;
    flex-shrink: 0;
  }

  header {
    background-size: 100%;
    background-position-y: 60%;
    display: flex;
    justify-content: center;
  }

  .title {
    position: absolute;
    top: 12pc;
    left: 3pc;
    font-size: 20px;
  }

  .title h2 {
    font-size: 20px;
  }

  .service-title {
    padding-bottom: 40px;
  }

  .service {
    display: flex;
    align-items: center;
    padding-bottom: 90px;
  }

  .service-b {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 90px;
  }

  .service-c {
    display: flex;
    align-items: center;
    padding-bottom: 90px;
  }

  .service-card {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .service-cards-b {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .service-card-b {
    height: 240px;
    max-width: 240px;
  }

  .service-cards-c {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .service-card-c {
    height: 240px;
    max-width: 240px;
  }
  
  .s-card-a {
    position: relative;
    width: 300px;
    height: 300px;
    min-width: 300px;
  }

  .s-card-b {
    position: relative;
    width: 300px;
    height: 300px;
    min-width: 300px;
  }

  .s-arrow {
    position: absolute;
    top: 225px;
    right: 0;
    left: -30px;
  }

  .s-card-p {
    font-size: 18px;
  }

  .team {
    padding-bottom: 50px;
  }

  .team-title {
    padding-bottom: 40px;
  }

  .teamate {
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(1, 200px);
  }

  .review-title {
    padding-bottom: 40px;
  }

  .contact-title {
    padding-bottom: 40px;
  }

  .review {
    padding-bottom: 60px;
  }

  .review-container {
    display: grid;
    grid-template-columns: repeat(6, 340px);
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  .review-card-c {
    display: flex;
    width: 220px;
    padding-top: 7%;
    padding-bottom: 7%;
    border-radius: 30px;
    box-shadow: 4px 4px 25px 0px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    align-items: center;
    animation: scroll 40s linear infinite;
  }

  .review-card {
    display: flex;
    width: 220px;
    padding-top: 7%;
    padding-bottom: 7%;
    border-radius: 30px;
    background: #ffffff;
    box-shadow: 4px 4px 25px 0px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    align-items: center;
    animation: scroll 40s linear infinite;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-680%);
    }
  }


  .review img {
    height: 130px;
    width: 130px;
  }

  .review-element img {
    height: 25px;
    width: 125px;
    margin: 0;
  }

  .review-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-left: 0;
  }

  .review-element-c {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-left: 0;
  }

  .review-element h4 {
    font-size: 20px;
    font-weight: 590;
    margin-bottom: 4px;
  }

  .review-element p {
    font-size: 15px;
    font-weight: 420;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .review-element-c p {
    font-size: 15px;
    font-weight: 420;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #ffffff;
  }

  .map {
    width: 350px;
    height: 350px;
  }

  .info-content {
    padding-inline: 7%;
  }

  .review-pp {
    width: 170px;
    height: 170px;
    border-radius: 1000px;
    background-image: url(../image/pdp.png);
    background-size: cover;
  }
}
