.review {
  background: #F8FBFF;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;  
  position: relative;
  padding-bottom: 10%;
  overflow: hidden;
}

.review-b {
  background: #ffffff;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;  
  position: relative;
  padding-bottom: 10%;
  overflow: hidden;
}

.review-c {
  background: #000000;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;  
  position: relative;
  padding-bottom: 10%;
  overflow: hidden;
}

.review-title {
  font-size: 32px;
  font-weight: 590;
  padding: 60px;
  margin-bottom: 20px;
}

.review-container {
  display: grid;
  grid-template-columns: repeat(6, 840px);
  position: relative;
  width: 100%;
}

.review-card {
  display: flex;
  flex-direction: row;
  width: 650px;
  padding: 5%;
  border-radius: 30px;
  background: #ffffff;
  box-shadow: 4px 4px 25px 0px rgba(0, 0, 0, 0.10);
  animation: scroll 25s linear infinite; 
}

.review-card-c {
  display: flex;
  flex-direction: row;
  width: 650px;
  padding: 5%;
  border-radius: 30px;
  background: #1E1E1E;  
  box-shadow: 4px 4px 25px 0px rgba(0, 0, 0, 0.10);
  animation: scroll 25s linear infinite; 
}

@keyframes scroll {
  0% {
    transform: translateX(0%); 
  }
  100% {
    transform: translateX(-190%);
  }
}

.review-element {
  margin-left: 15px;
  margin-top: 20px;
}

.review-element-c {
  margin-left: 15px;
  margin-top: 20px;
}

.review-element h4 {
  font-size: 20px;
  font-weight: 590;
  margin-bottom: 10px;
}

.review-element-c h4 {
  font-size: 20px;
  font-weight: 590;
  margin-bottom: 10px;
}

.review-element p {
  font-size: 16px;
  font-weight: 420;
  color: var(--gray-gray-700, #4A5568);
  margin-top: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.review-element-c p {
  font-size: 16px;
  font-weight: 420;
  color: var(--gray-gray-700, #ffffffc5);
  margin-top: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.review-pp {
  width: 550px;
  height: 170px;
  border-radius: 1000px;
  background-image: url(../image/pdp.png);
  background-size: cover;
}