* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
}

body {
    max-width: 100%;
    width: 100%;
    background-color: #000;
}

h1,h2,h3,h4,p {
    margin: 0;
    padding: 0; 
    text-decoration: none;
    color: white;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(46, 46, 46, 0.50);
    list-style-type: none;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px); 
    height: 80px;
    padding-inline: 50px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

.menu-hamburger {
    display: none;
    height: 30px;
    height: 25px;
    position: absolute;
    top: 20px;
    right: 40px;
    cursor: pointer;
}

#imageChanger {
    transition: all 0.9s;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.2s;
}

.logo:hover {
    transform: scale(1.03);
}

.logotitle {
    margin-left: 10px;
    background: white;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 510;
    font-size: 18px;
}

.lang {
    padding: 6px;
    margin-right: 20px;
    border: none;
    background: none;
    display: flex;
    justify-content: space-between; 
    transition: all 0.2s;
    align-items: center;
    cursor: pointer;
}

.dropdown {
    position: relative;
}
.dropdown-menu {
    position: absolute;
    left: 0;
    top: calc(100% + 0.55rem);
    background-color: #ffffff;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px); 
    padding-inline: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown-menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 27px;
}

.dropdown.active > .lang + .dropdown-menu {
    opacity: 1;
    transform: translateY(0px);
    pointer-events: auto;
}


.logotitle-a {
    font-size: 14px;
    color: #000;
}

.nav-link {
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0;
}

.nav-link-a {
    transition: all 0.2s;
}

.nav-link a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-inline: 20px;
    font-size: 16px;
    font-weight: 510;
}

.nav-link-a:hover {
    background-color: #00000013;
    padding: 13px;
    border-radius: 10px;
}

.lang img {
    z-index: -1000;
}

.lang p {
    margin-left: 15px;
    color: rgba(255, 255, 255, 0.45);
    font-size: 16px;
    font-weight: 440;
    z-index: -1000;
}

.bg-c {
    height: 62vh;
    width: 100%;
    padding: 0;
    margin: 0;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0.00) 0%, rgba(98, 141, 210, 0.088) 100%);
}

header {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.title-b {
    position: absolute;
    top: 16pc;
    font-size: 34px;
}

.title-b h1 {
    background: rgba(255, 255, 255, 0);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    box-sizing: border-box;
    position: relative;
    font-weight: 590;
    transition: 0.3s;
    font-weight: 700;
}

.title-b h1::after {
    content: "Xe ô tô";
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(105deg, #dd1ca7 11.85%, #59BDFF 129.64%, #1c33c9 11.85%);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradient 8s ease infinite;
    text-shadow: 4px 4px 30px rgba(0, 143, 255, 0.25);
    filter: drop-shadow(20px 20px 50px rgb(139, 24, 147));
    transition: 0.3s;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.contact {
    color: #ffffff;
    font-size: 20px;
    font-size: 700;
    background: #ffffff00;
    border: 1.5px #ffffff solid;
    height: 60px;
    width: 250px;
    border-radius: 200px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    transition: 0.4s;
}

.contact:hover {
    color: rgb(0, 0, 0);
    border: 2px #ffffff00 solid;
}

.contact::before  {
    position: absolute;
    bottom: 0;
    content: "";
    height: 60px;
    width: 270px;
    border-radius: 200px;
    background: white;   
    z-index: -1;
    transition: all 0.4s;
    transform: translate(-135%);
    overflow: hidden;
}

.contact:hover::before {
    transform: translate(-38%);
}

.btn {
    height: 70px;
    width: 70px;
    background: linear-gradient(239deg, #354DCF 1.54%, #3686CE 100%);    
    border-radius: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
    position: fixed; 
    right: 40px;
    bottom: 40px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    z-index: 100;
}


.btn:hover {
    background: #0048ff;
}


.btn:hover .phone {
    transform: rotateY(180deg);
}

.phone {
    transition: all 0.3s;
}

.car-a {
    position: absolute;
    top: 190px;
    right: 0px;
}

.car-b {
    position: absolute;
    top: 190px;
    left: 0px;
}