.contact-page {
    height: 92vh;
    max-width: 100%;
    
}

.contact-title {
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: 590;
    padding: 60px;
    margin-bottom: 20px;
}

.info {
    display: flex;
    margin-left: 15% ;
}

.map {
    margin-right: 3%;
}

.sn-link {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.sn-link p {
    margin-left: 15px;
}

.location {
    font-size: 20px;
    font-weight: 590;
    margin-bottom: 30px;
}
