
@media (max-width: 1024px) {

    .menu-hamburger {
        display: block;
    }

    .nav-link {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        height: 100vh;
        padding-top: 35%;
        background-color: rgb(255, 255, 255);
        right: 0;
        margin-right: -100%;
        transition: all 0.5s;
        flex-shrink: 0;
    }

    .nav-link li {
        margin: 15px;
    }

    .mobile-menu {
        margin-right: 0%;
        flex-shrink: 0;
    }

    .nav-link a:hover {
        visibility: hidden;
    }

    .contact {
        margin-top: 13px;
    }

    header {
        height: 100vh;
        width: 100%;
        background-image: url(image/fond.svg);
        background-repeat: no-repeat;
        background-size: 80%;
        background-position-y: 65%;
        background-position-x: 55%;
    }

    .title {
        height: 60%;
        margin-left: 7pc;
    }

    .s-card-a {
        position: relative;
        width: 320px;
        height: 320px;
        min-width: 300px;
    }

    .s-card-a::before {
        display: none;
    }

    .s-card-b {
        position: relative;
        width: 320px;
        height: 320px;
        min-width: 300px;
    }

    .s-card-b::before {
        display: none;
    }

    .s-arrow {
        position: absolute;
        top: 240px;
        right: 0;
        left: -30px;
    }

    .teamate {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, 300px);
        grid-column-gap: 7% ;
    }

    .info {
        display: flex;
        flex-direction: column;
    }

    .info-content {
        margin-top: 40px;
    }

    .btn:hover {
        background: #0048ff;
    }
    
    
    .btn:hover .phone {
        transform: rotateY(0deg);
    }

}

@media (max-width: 620px) {
    .logotitle {
        display: none;
    }

    nav {
        padding-inline: 30px;
        height: 65px;
    }

    .menu-hamburger {
        display: block;
    }

    .nav-link {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        height: 100vh;
        width: 100%;
        padding-top: 35%;
        background-color: rgb(255, 255, 255);
        right: 0;
        margin-right: -100%;
        transition: all 0.5s;
        flex-shrink: 0;
    }

    .nav-link li {
        margin: 15px;
    }

    .mobile-menu {
        margin-right: 0%;
        flex-shrink: 0;
    }

    .nav-link a:hover {
        visibility: hidden;
    }

    .contact {
        margin-top: 13px;
    }

    header {
        background-size: 100%;
        background-position-y: 60%;
        display: flex;
        justify-content: center;
    }

    .title {
        height: 60%;
        margin-left: 0px;
        font-size: 21px;
    }

    .title h2 {
        font-size: 20px;
    }

    .service-title {
        padding-bottom: 40px;
    }

    .service { 
        display: flex;
        align-items: center;
        padding-bottom: 90px;
    }
    
    .service-card {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .team {
        padding-bottom: 70px;
    }

    .team-title {
        padding-bottom: 40px;
    }

    .teamate {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(1, 300px);
        grid-column-gap: 7% ;
    }

    .map {
        width: 375px;
        height: 375px;
    }

    .info-content {
        padding-inline: 7%;
    }

    .review-title {
        padding-bottom: 40px;
    }

    .contact-title {
        padding-bottom: 40px;
    }

    .review-card {
        width: 50%;
        height: 100%;
        flex-shrink: 0;
        border-radius: 30px;
        background: #ffffff;
        box-shadow: 4px 4px 25px 0px rgba(0, 0, 0, 0.10);
        padding: 5%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .review {
        padding-bottom: 90px;
    }
    
    .review-container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-column-gap: 23%;
        position: relative; 
        overflow: hidden;
        width: 100%;
      }

      @keyframes scroll {
        0% {
          transform: translateX(0%); 
        }
        100% {
          transform: translateX(-680%);
        }
      }

    .review-card {
        width: 305px;
        height: 95%;
        padding: 10%;
        animation: scroll 24s linear infinite; 
    }

    .review img {
        height: 200px;
        width: 200px;
    }

    .review-element img {
        height: 40px;
        width: 200px;
    }

    .review-element {
        margin-left: 15px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .review-element h4 {
        font-size: 20px;
        font-weight: 590;
        margin-bottom: 10px;
    }

    .review-element p {
        font-size: 16px;
        font-weight: 420;
        color: var(--gray-gray-700, #4A5568);
        margin-top: 10px;
        text-align: center;
    }

}