@media (max-width: 1200px) {

    .teamate {
        display: grid;
        grid-template-columns: repeat(3, 300px);
        grid-template-rows: repeat(2, 300px);
        grid-row-gap: 150px;
        grid-column-gap: 20px;
    }

    .team { 
        height: 160vh;
        border-bottom: 1px solid rgba(2, 0, 90, 0.30);
    }

    .s-card-a {
        position: relative;
        width: 400px;
        height: 320px;
        min-width: 300px;
        border-radius: 30px;
        display: inline-block;
        background: linear-gradient(239deg, #727eff 1.54%, #2a8dff 100%);
        transition: all 0.3s;
        cursor: pointer;
        --color: #0048ff;
        overflow: hidden;
        color: var(--color);
    }

    .s-card-b {
        position: relative;
        width: 400px;
        height: 320px;
        min-width: 300px;
        border-radius: 30px;
        display: inline-block;
        background: linear-gradient(135deg, #e52cb4 -19.77%, #8382DA 104.48%);
        transition: all 0.3s;
        cursor: pointer;
        --color: #C7209B;
        overflow: hidden;
        color: var(--color);
    }

    .info {
        display: flex;
        flex-direction: column;
        margin-left: 22% ;
    }

    .info-content {
        margin-top: 40px;
    }


    header {
        height: 100vh;
        width: 100%;
        background-image: url(image/fond.svg);
        background-repeat: no-repeat;
        background-size: 60%;
        background-position-y: 65%;
        background-position-x: 80%;
    }
}


@media (max-width: 935px) { 

    header {
        height: 100vh;
        width: 100%;
        background-image: url(image/fond.svg);
        background-repeat: no-repeat;
        background-size: 70%;
        background-position-y: 60%;
        background-position-x: 80%;
    }

    .info {
        display: flex;
        flex-direction: column;
        margin-left: 18% ;
    }

    .s-card-a {
        position: relative;
        width: 320px;
        height: 320px;
        min-width: 300px;
        border-radius: 30px;
        display: inline-block;
        background: linear-gradient(239deg, #727eff 1.54%, #2a8dff 100%);
        transition: all 0.3s;
        cursor: pointer;
        --color: #0048ff;
        overflow: hidden;
        color: var(--color);
    }

    .s-card-b {
        position: relative;
        width: 320px;
        height: 320px;
        min-width: 300px;
        border-radius: 30px;
        display: inline-block;
        background: linear-gradient(135deg, #e52cb4 -19.77%, #8382DA 104.48%);
        transition: all 0.3s;
        cursor: pointer;
        --color: #C7209B;
        overflow: hidden;
        color: var(--color);
    }

    .s-arrow {
        position: absolute;
        top: 240px;
        right: 0;
        left: -30px;
    }

    .teamate {
        display: grid;
        grid-template-columns: repeat(2, 300px);
        grid-template-rows: repeat(3, 300px);
        grid-row-gap: 150px;
        grid-column-gap: 20px;
    }

    .team { 
        height: 205vh;
        border-bottom: 1px solid rgba(2, 0, 90, 0.30);
    }

}


@media (max-width: 810px) {

    .logotitle {
        display: none;
    }

    .nav-link {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        height: 100vh;
        padding-top: 35%;
        background-color: rgb(255, 255, 255);
        -webkit-backdrop-filter: blur(105px);
        backdrop-filter: blur(105px); 
        right: 0;
        margin-right: -100%;
        transition: all 0.5s;
        flex-shrink: 0;
    }

    .mobile-menu {
        margin-right: 0%;
        flex-shrink: 0;
    }

    .nav-link li {
        margin: 15px;
    }

    .nav-link a:hover {
        background-color: #00000000;
        padding: 0px;
        border-radius: 0px;
    }

    .contact {
        margin-top: 13px;
    }

    .title {
        font-size: 28px;
        background: linear-gradient(107deg, #000 7.98%, #2784CC 130.42%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-left: 80px;
        height: 65%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        position: relative;
        font-weight: 590;
    }
    
    .title h1::after {
        content: "DỊCH VỤ CHÍNH";
        position: absolute;
        top: 10;
        left: 0;
        background: linear-gradient(-45deg, #000000 , #354DCF , #3686CE , #000000);
        background-size: 400% 400%;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        animation: gradient 20s ease infinite;
        text-shadow: 4px 4px 30px rgba(0, 143, 255, 0.25);
    }

    .contact::before {
        display: none;
        position: absolute;
        content: "";
        background: var(--color);
        width: 150px;
        height: 200px;
        z-index: -1;
        border-radius: 50%;
        top: 100%;
        left: 100%;
        transition: .3s all;
    }

    .contact:hover {
        transform: scale(1);    
    }   

    .menu-hamburger {
        display: block;
    }

    .team { 
        height: 205vh;
        border-bottom: 1px solid rgba(2, 0, 90, 0.30);
    }

    .service { 
        background: #F8FBFF;
        border-top: 1px solid rgba(2, 0, 90, 0.30);
        border-bottom: 1px solid rgba(2, 0, 90, 0.30);
        height: 98vh;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .service-card {
        display: flex;
        margin-inline: 7%;
        flex-direction: column;
        justify-content: space-around;
    }

    .s-card-a {
        margin-bottom: 15%;
    }

    .contact-page {
        height: 92vh;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .info {
        display: flex;
        margin-left: 0% ;
    }

    .map {
        height: 340px;
        width: 340px;
    }
    
}



@media (max-width: 680px) {

    header {
        height: 100vh;
        width: 100%;
        background-image: url(image/fond.svg);
        background-repeat: no-repeat;
        background-size: 90%;
        background-position-y: 60%;
        background-position-x: 20%;
    }

    .bg-a {
        height: 100vh;
        width: 100%;
        padding: 0;
        margin: 0;
        background: linear-gradient(180deg, rgba(217, 217, 217, 0.00) 0%, rgba(98, 141, 210, 0.17) 100%);
    }

    .title {
        font-size: 20px;
        background: linear-gradient(107deg, #000 7.98%, #2784CC 130.42%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 40px;
        height: 65%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        position: relative;
        font-weight: 590;
    }
    
    .title h1::after {
        content: "DỊCH VỤ CHÍNH";
        position: absolute;
        top: 10;
        left: 0;
        background: linear-gradient(-45deg, #000000 , #354DCF , #3686CE , #000000);
        background-size: 400% 400%;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        animation: gradient 20s ease infinite;
        text-shadow: 4px 4px 30px rgba(0, 143, 255, 0.25);
    }
    
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    
    .teamate {
        display: grid;
        grid-template-columns: repeat(1, 300px);
        grid-template-rows: repeat(7, 300px);
        grid-row-gap: 150px;
        grid-column-gap: 20px;
    }

    .team { 
        height: 350vh;
        border-bottom: 1px solid rgba(2, 0, 90, 0.30);
    }

}