.service { 
    background: #F8FBFF;
    border-top: 1px solid rgba(2, 0, 90, 0.30);
    border-bottom: 1px solid rgba(2, 0, 90, 0.30);
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding-bottom: 6%;
}

.service-title {
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: 590;
    padding: 60px;
    margin-bottom: 20px;
}

.service-card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.s-card-a {
    position: relative;
    width: 516px;
    height: 300px;
    min-width: 300px;
    border-radius: 30px;
    display: inline-block;
    background: linear-gradient(239deg, #727eff 1.54%, #2a8dff 100%);
    transition: all 0.3s;
    cursor: pointer;
    --color: #0048ff;
    font-family: inherit;
    overflow: hidden;
    color: var(--color);
}

.s-card-a::before {
    position: absolute;
    content: "";
    background: var(--color);
    width: 300%;
    height: 300%;
    z-index: -1;
    border-radius: 50%;
    top: 100%;
    left: 100%;
    transition: .3s all;
    overflow: hidden;
}
  
.s-card-a:hover::before {
    top: -50px;
    left: -50px;
}

.s-card-a:hover {
    transform: scale(1.03);
    box-shadow: 4px 4px 50px 20px rgba(80, 115, 255, 0.272);
}


.s-card-b {
    position: relative;
    width: 516px;
    height: 300px;
    min-width: 300px;
    border-radius: 30px;
    display: inline-block;
    background: linear-gradient(135deg, #e52cb4 -19.77%, #8382DA 104.48%);
    transition: all 0.3s;
    cursor: pointer;
    --color: #b0238b;
    font-family: inherit;
    overflow: hidden;
    color: var(--color);
    margin: 0;
}

.s-card-b::before {
    position: absolute;
    content: "";
    background: var(--color);
    width: 300%;
    height: 300%;
    z-index: -1;
    border-radius: 50%;
    top: 100%;
    left: 100%;
    transition: .3s all;
    overflow: hidden;
}
  
.s-card-b:hover::before {
    top: -50px;
    left: -50px;
}

.s-card-b:hover {
    transform: scale(1.03);
    box-shadow: 4px 4px 50px 20px rgba(246, 115, 255, 0.272);
}

.s-card-element {
    padding: 7%;
}

.s-card-title {
    color: #FFF;
    font-size: 40px;
    font-weight: 590;
    margin-bottom: 15px;
}

.s-card-p {
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 320;
    margin-bottom: 20px;
    z-index: 2;
}

.s-arrow {
    margin-left: 85%;
    transition: all 0.3s;
    z-index: 5;
}

.s-card-a:hover .s-arrow {
    animation: bounce 0.5s;
}

.s-card-b:hover .s-arrow {
    animation: bounce 0.5s;
}

@keyframes bounce {
    0%, 100% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-50deg);
    }
    100% {
        transform: rotate(0deg);
    }
}