.team { 
    height: 120vh;
    max-width: 100%;
    border-bottom: 1px solid rgba(2, 0, 90, 0.30);
}

.team-title {
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: 590;
    padding: 60px;
}

.team-margin {
    display: flex;
    justify-content: center;
}

.teamate {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(2, 300px);
    grid-row-gap: 150px;
    grid-column-gap: 20px;
}

.mate {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-name {
    font-size: 20px;
    font-weight: 590;
}

.team-role {
    color: #8F8F8F;
    font-size: 18px;
}